body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid white;
  padding: 10px;
  padding: 20px;
  width: 100%;
  /* line-height: 1.5; */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  /* white-space: pre-wrap; */
  height: 75px;
  border-top: 1px solid white;
  width: 100%;
}

.col.hour {
  background-color: #ffffff;
  color: #000000;
  max-width: 20%;
  border: 1px solid black;
  border-left: none;
  text-align: center;
  padding-top: 30px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  border: 1px solid white;
  color: white;
  max-width: 8%;
  position: relative;
}

.fa-save:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.fa-save {
  font-size: 26px;
  position: absolute;
  top: 30%;
  left: 40%;
}

.Success {
  color: rgb(154, 228, 44);
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .fa-save:hover {
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .fa-save {
    font-size: 23px;
    position: absolute;
    top: 30%;
    left: 32%;
  }
}

@media only screen and (max-width: 767px) {
  .fa-save:hover {
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .fa-save {
    font-size: 23px;
    position: absolute;
    top: 30%;
    left: 32%;
  }

  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    border: 1px solid white;
    color: white;
    max-width: 12%;
    position: relative;
  }
}
